[Unit]
Description=Telegram Printer Bot Service
After=network.target

[Service]
Type=simple
User=e
WorkingDirectory=/home/e/telegram-printer-bot
ExecStart=/home/e/telegram-printer-bot/run.sh
Restart=on-failure
RestartSec=10
StandardOutput=append:/home/e/telegram-printer-bot/logs/output.log
StandardError=append:/home/e/telegram-printer-bot/logs/error.log

[Install]
WantedBy=multi-user.target
